@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
  --weekCellSize: 1vw;
  --weekCellMargins: 0.1vw;
  --yearRowVertMargin: 0.875vw;
  --yearRowHorizMargin: 0.125vw;
  --weekLabelFontSize: 1.23vw;
}

body {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to left, #0575e6, #00f260) no-repeat center center fixed; */
  background: rgb(255, 255, 255);
  font-family: "Roboto Slab", serif;
}

h1.title {
  font-size: min(13vw, 100px);
  margin: 0 1rem;
}

h3.subtitle {
  /* font-size: min(13vw, 100px); */
  margin: 0 1rem;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 4vw;
  height: auto;
  width: auto;
  background: rgb(255, 255, 255);
  border-radius: min(1vw, 10px);
  border: min(0.2vw, 2px) solid black;
  padding: 1vw;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.year {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.dateDisp {
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  margin-left: 0.1vw;
  margin-right: 0.1vw;
  margin-top: 0;
  margin-bottom: 0;
  width: min(9vw, 160px);
  font-size: min(0.7vw, 12px);
}

.cornerLabel {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-weight: 900;
  margin-left: 0.1vw;
  margin-right: 0.1vw;
  margin-top: 0;
  margin-bottom: 0;
  width: min(9vw, 160px);
  font-size: min(0.7vw, 18px);
}

.weeklabel {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8vw;
  background: white;
  width: var(--weekCellSize);
  height: var(--weekCellSize);
  margin: var(--weekCellMargins);
  border: min(0.2vw, 2px) solid transparent;
}

.week {
  background: white;
  width: var(--weekCellSize);
  height: var(--weekCellSize);
  margin: var(--weekCellMargins);
  border: min(0.2vw, 2px) solid black;
}

pre {
  background: rgb(243, 243, 243);
  border: 2px solid black;
  border-radius: 5px;
  outline: none;

  width: min(95%, 600px);
  height: min(95%, 600px);
  overflow: scroll;
}

code {
  font-size: min(1.6vw, 20px);
  width: min(95%, 600px);
  height: min(95%, 600px);
  outline: none;
}

.info {
  color: green;
}

button {
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
  font-size: min(6vw, 20px);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0px 10px;
}
